
img {
    display: inline-block;
    height: 450px;
    width: 400px;
}
main {
    margin-top: 40px;
    margin-left: 15px;
}

header {
    margin-top: 10px;
    margin-left: 15px;
}


.Foto {
    display: inline-block;
    position: relative;
}

.topright-green , .topright-red {
    position: absolute;
    top: 0 ;
    right: 0 ;
    font-weight: bold ;
}

.topright-green {
    padding: 5px;
    background-color: green;
    border: green;
}

.topright-red {
    padding: 5px;
    background-color: red;
    border: red;
}

